In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from config import g_key
gmaps.configure(api_key=g_key)

## Load CSV from Weatherpy exercise

In [3]:
path = "..\\Output\\Clean Cities.csv"

df = pd.read_csv(path)

df.head()

,lat,long,city,country,max temp,humidity,cloudiness,wind speed,date
0,-37.092551,-81.223852,lebu,cl,48.87,86.0,26.0,0.81,1.599346e+09
1,35.151068,86.759262,korla,cn,73.00,52.0,0.0,5.99,1.599346e+09
2,-35.321667,170.227764,ahipara,nz,58.39,68.0,100.0,12.64,1.599346e+09
3,0.508284,-45.526150,carutapera,br,78.84,83.0,85.0,7.72,1.599346e+09
4,-13.533050,78.674963,hithadhoo,mv,80.51,76.0,100.0,25.59,1.599346e+09

## Humidity Heat Map

In [4]:
locations = df[["lat", "long"]]

weight = df["humidity"]

In [5]:
fig = gmaps.figure()
heatmap_layer = gmaps.heatmap_layer(
    locations, weights=weight,
    max_intensity=20, point_radius=5
)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### The heatmap is too populated. Let's further filter out cities I probably don't want to go to on vacation.

## Create new DF considering my weather preferences.

In [6]:
filtered_df = df.loc[(df["wind speed"]<=10) & (df["max temp"]>=70) & (df["max temp"]<=80) & (df["cloudiness"] ==0) & 
                    (df["humidity"]<= 80)].dropna()

filtered_df.head()

,lat,long,city,country,max temp,humidity,cloudiness,wind speed,date
1,35.151068,86.759262,korla,cn,73.0,52.0,0.0,5.99,1.599346e+09
10,38.764772,-11.590327,colares,pt,75.2,33.0,0.0,6.93,1.599346e+09
84,-26.476105,137.765005,alice springs,au,75.0,18.0,0.0,9.17,1.599346e+09
149,38.284009,62.143531,murgab,tm,71.6,30.0,0.0,4.70,1.599347e+09
159,28.531723,-21.545099,los llanos de aridane,es,73.4,69.0,0.0,8.86,1.599347e+09

In [7]:
filt_locations = filtered_df[["lat", "long"]]

filt_weight = filtered_df["humidity"]

In [8]:
fig2 = gmaps.figure(center=(35,40), zoom_level=2)
heatmap_layer = gmaps.heatmap_layer(
    filt_locations, weights=filt_weight,
    max_intensity=60, point_radius=20
)
fig2.add_layer(heatmap_layer)
plt.savefig("..\Output\FilteredHeatMap.png")
fig2

Figure(layout=FigureLayout(height='420px'))

### Now that we are down to 5 cities, let's look for hotels in the area.

## Hotel Map and Markers

In [9]:
filtered_df["hotel name"] = ""

filtered_df.head()

,lat,long,city,country,max temp,humidity,cloudiness,wind speed,date,hotel name
1,35.151068,86.759262,korla,cn,73.0,52.0,0.0,5.99,1.599346e+09,
10,38.764772,-11.590327,colares,pt,75.2,33.0,0.0,6.93,1.599346e+09,
84,-26.476105,137.765005,alice springs,au,75.0,18.0,0.0,9.17,1.599346e+09,
149,38.284009,62.143531,murgab,tm,71.6,30.0,0.0,4.70,1.599347e+09,
159,28.531723,-21.545099,los llanos de aridane,es,73.4,69.0,0.0,8.86,1.599347e+09,

In [10]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"types" : "lodging",
          "radius" : 5000,
          "key" : g_key}


import time
import pprint

In [11]:
filtered_df

,lat,long,city,country,max temp,humidity,cloudiness,wind speed,date,hotel name
1,35.151068,86.759262,korla,cn,73.0,52.0,0.0,5.99,1.599346e+09,
10,38.764772,-11.590327,colares,pt,75.2,33.0,0.0,6.93,1.599346e+09,
84,-26.476105,137.765005,alice springs,au,75.0,18.0,0.0,9.17,1.599346e+09,
149,38.284009,62.143531,murgab,tm,71.6,30.0,0.0,4.70,1.599347e+09,
159,28.531723,-21.545099,los llanos de aridane,es,73.4,69.0,0.0,8.86,1.599347e+09,
179,-25.423555,138.772353,mount isa,au,77.0,23.0,0.0,8.05,1.599347e+09,

In [12]:

params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}


for index, row in filtered_df.iterrows():
    
    lat = row["lat"]
    lng = row["long"]
    
    
    params["location"] = f"{lat},{lng}"
    
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    
    hotels = requests.get(base_url, params=params).json()
    
    
    try:
        filtered_df.loc[index, "hotel name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
#hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]