In [1]:
from citipy import citipy
import pandas as pd
import numpy as np
import json
import requests
import matplotlib.pyplot as plt
from config import weather_api
from pprint import pprint

# Creating the cities DataFrame

In [3]:
#Create a list of random latitudes and longitudes
cities_df = pd.DataFrame({"lat":np.random.uniform(-90,90,500), "long":np.random.uniform(-180,180,500)})

print(len(cities_df))

cities_df.head()

500

         lat        long
0  22.069837  139.812016
1 -44.007901   31.664782
2  31.324890   15.907863
3  88.971471  153.363336
4 -74.338884   23.201030

In [4]:
city_name = []
country_list =[]

for coords in range(0, len(cities_df["lat"])):
    lat=cities_df.iloc[coords]["lat"]
    long=cities_df.iloc[coords]["long"]
    city = citipy.nearest_city(lat,long)
    name= city.city_name
    city_name.append(name)
    country= city.country_code
    country_list.append(country)

cities_df["city"]=city_name
cities_df["country"]=country_list

cities_df.head()

         lat        long         city country
0  22.069837  139.812016         naze      jp
1 -44.007901   31.664782  port alfred      za
2  31.324890   15.907863         surt      ly
3  88.971471  153.363336   chokurdakh      ru
4 -74.338884   23.201030   bredasdorp      za

In [5]:
cities_df["city"].duplicated().value_counts()

False    281
True     219
Name: city, dtype: int64

### Since there are duplicated cities in our DF, we  have to drop those specific rows.

In [14]:
cleancities_df = cities_df.drop_duplicates(subset="city", keep="first").reset_index(drop=True)

In [15]:
len(cleancities_df)

281

### Now that we have a clean data set, we can keep going with the exercise.

In [16]:
cleancities_df["max temp"] = ""
cleancities_df["humidity"] = ""
cleancities_df["cloudiness"] = ""
cleancities_df["wind speed"] = ""
cleancities_df["date"] = ""

cleancities_df.head()

,lat,long,city,country,max temp,humidity,cloudiness,wind speed,date
0,22.069837,139.812016,naze,jp,,,,,
1,-44.007901,31.664782,port alfred,za,,,,,
2,31.324890,15.907863,surt,ly,,,,,
3,88.971471,153.363336,chokurdakh,ru,,,,,
4,-74.338884,23.201030,bredasdorp,za,,,,,

In [17]:
url = "http://api.openweathermap.org/data/2.5/weather?"
units = "imperial"
api_key = weather_api
query_url = f"{url}appid={api_key}&units={units}&q="

for index, row in cleancities_df.iterrows():
    city = row["city"]
    response = requests.get(query_url + city).json()
    
    print(f"Looking for the weather in city number {index}, {city}")
          
    try:
          cleancities_df.at[index, "max temp"] = response["main"]["temp_max"]
          cleancities_df.at[index, "humidity"] = response["main"]["humidity"]
          cleancities_df.at[index, "cloudiness"] = response["clouds"]["all"]
          cleancities_df.at[index, "wind speed"] = response["wind"]["speed"]
          cleancities_df.at[index, "date"] = response["dt"]
    except:
          print("Missing city. Moving on...")
          

cleancities_df.head()

Looking for the weather in city number 0, naze
Looking for the weather in city number 1, port alfred
Looking for the weather in city number 2, surt
Looking for the weather in city number 3, chokurdakh
Looking for the weather in city number 4, bredasdorp
Looking for the weather in city number 5, avarua
Looking for the weather in city number 6, busselton
Looking for the weather in city number 7, zhoucheng
Looking for the weather in city number 8, angoche
Looking for the weather in city number 9, port hawkesbury
Looking for the weather in city number 10, yellowknife
Looking for the weather in city number 11, concepcion del oro
Looking for the weather in city number 12, olafsvik
Looking for the weather in city number 13, ancud
Looking for the weather in city number 14, kirakira
Looking for the weather in city number 15, san carlos de bariloche
Looking for the weather in city number 16, hilo
Looking for the weather in city number 17, muyezerskiy
Looking for the weather in city number 18, rikitea
Looking for the weather in city number 19, hithadhoo
Looking for the weather in city number 20, vaini
Looking for the weather in city number 21, veere
Looking for the weather in city number 22, alta floresta
Looking for the weather in city number 23, hobart
Looking for the weather in city number 24, sitka
Looking for the weather in city number 25, kruisfontein
Looking for the weather in city number 26, mataura
Looking for the weather in city number 27, kodiak
Looking for the weather in city number 28, albany
Looking for the weather in city number 29, padang
Looking for the weather in city number 30, mahebourg
Looking for the weather in city number 31, lujan
Looking for the weather in city number 32, nicolas bravo
Looking for the weather in city number 33, new norfolk
Looking for the weather in city number 34, ibra
Looking for the weather in city number 35, nalut
Looking for the weather in city number 36, cabedelo
Looking for the weather in city number 37, havre-saint-pierre
Looking for the weather in city number 38, ushuaia
Looking for the weather in city number 39, port macquarie
Looking for the weather in city number 40, tautira
Looking for the weather in city number 41, bluff
Looking for the weather in city number 42, araouane
Looking for the weather in city number 43, taolanaro
Missing city. Moving on...
Looking for the weather in city number 44, boden
Looking for the weather in city number 45, saskylakh
Looking for the weather in city number 46, arraial do cabo
Looking for the weather in city number 47, victoria
Looking for the weather in city number 48, resistencia
Looking for the weather in city number 49, bouna
Looking for the weather in city number 50, telsiai
Looking for the weather in city number 51, qaanaaq
Looking for the weather in city number 52, saint-philippe
Looking for the weather in city number 53, amderma
Missing city. Moving on...
Looking for the weather in city number 54, belushya guba
Missing city. Moving on...
Looking for the weather in city number 55, dunedin
Looking for the weather in city number 56, cape town
Looking for the weather in city number 57, chuy
Looking for the weather in city number 58, burnie
Looking for the weather in city number 59, kimbe
Looking for the weather in city number 60, nikolskoye
Looking for the weather in city number 61, barentsburg
Missing city. Moving on...
Looking for the weather in city number 62, grand river south east
Missing city. Moving on...
Looking for the weather in city number 63, rundu
Looking for the weather in city number 64, port-cartier
Looking for the weather in city number 65, te anau
Looking for the weather in city number 66, bolungarvik
Missing city. Moving on...
Looking for the weather in city number 67, atuona
Looking for the weather in city number 68, illoqqortoormiut
Missing city. Moving on...
Looking for the weather in city number 69, rajanpur
Looking for the weather in city number 70, inongo
Looking for the weather in city number 71, gunjur
Looking for the weather in city number 72, baie-comeau
Looking for the weather in city number 73, blackwater
Looking for the weather in city number 74, tabiauea
Missing city. Moving on...
Looking for the weather in city number 75, yunjinghong
Missing city. Moving on...
Looking for the weather in city number 76, alofi
Looking for the weather in city number 77, laguna
Looking for the weather in city number 78, dikson
Looking for the weather in city number 79, cidreira
Looking for the weather in city number 80, meadow lake
Looking for the weather in city number 81, nizhneyansk
Missing city. Moving on...
Looking for the weather in city number 82, carnarvon
Looking for the weather in city number 83, tuktoyaktuk
Looking for the weather in city number 84, east london
Looking for the weather in city number 85, airai
Looking for the weather in city number 86, portland
Looking for the weather in city number 87, bethel
Looking for the weather in city number 88, tasiilaq
Looking for the weather in city number 89, benguela
Looking for the weather in city number 90, luangwa
Looking for the weather in city number 91, zhigansk
Looking for the weather in city number 92, isangel
Looking for the weather in city number 93, thompson
Looking for the weather in city number 94, upernavik
Looking for the weather in city number 95, sechura
Looking for the weather in city number 96, punta arenas
Looking for the weather in city number 97, caravelas
Looking for the weather in city number 98, pundaguitan
Looking for the weather in city number 99, bubaque
Looking for the weather in city number 100, tamale
Looking for the weather in city number 101, suntar
Looking for the weather in city number 102, kapaa
Looking for the weather in city number 103, nuuk
Looking for the weather in city number 104, nador
Looking for the weather in city number 105, kazalinsk
Missing city. Moving on...
Looking for the weather in city number 106, trairi
Looking for the weather in city number 107, bur gabo
Missing city. Moving on...
Looking for the weather in city number 108, cherskiy
Looking for the weather in city number 109, san patricio
Looking for the weather in city number 110, tigzirt
Looking for the weather in city number 111, archidona
Looking for the weather in city number 112, adre
Looking for the weather in city number 113, mar del plata
Looking for the weather in city number 114, san cristobal
Looking for the weather in city number 115, provideniya
Looking for the weather in city number 116, srednekolymsk
Looking for the weather in city number 117, sentyabrskiy
Missing city. Moving on...
Looking for the weather in city number 118, petropavlovsk-kamchatskiy
Looking for the weather in city number 119, vaitape
Looking for the weather in city number 120, jamestown
Looking for the weather in city number 121, lorengau
Looking for the weather in city number 122, lompoc
Looking for the weather in city number 123, bandarbeyla
Looking for the weather in city number 124, molo
Looking for the weather in city number 125, heyang
Looking for the weather in city number 126, sao felix do xingu
Looking for the weather in city number 127, norman wells
Looking for the weather in city number 128, samusu
Missing city. Moving on...
Looking for the weather in city number 129, sorong
Looking for the weather in city number 130, salto
Looking for the weather in city number 131, batsfjord
Looking for the weather in city number 132, lagoa
Looking for the weather in city number 133, yar-sale
Looking for the weather in city number 134, puerto ayora
Looking for the weather in city number 135, malwan
Missing city. Moving on...
Looking for the weather in city number 136, san quintin
Looking for the weather in city number 137, ontario
Looking for the weather in city number 138, zarinsk
Looking for the weather in city number 139, jurilovca
Looking for the weather in city number 140, port augusta
Looking for the weather in city number 141, pathein
Looking for the weather in city number 142, bengkulu
Looking for the weather in city number 143, paea
Looking for the weather in city number 144, tha mai
Looking for the weather in city number 145, sinnamary
Looking for the weather in city number 146, pilao arcado
Missing city. Moving on...

Looking for the weather in city number 147, krasnoselkup
Looking for the weather in city number 148, kita
Looking for the weather in city number 149, naryan-mar
Looking for the weather in city number 150, sao filipe
Looking for the weather in city number 151, mareeba
Looking for the weather in city number 152, astoria
Looking for the weather in city number 153, castro
Looking for the weather in city number 154, macherla
Looking for the weather in city number 155, litoral del san juan
Missing city. Moving on...
Looking for the weather in city number 156, bastia
Looking for the weather in city number 157, tarbes
Looking for the weather in city number 158, acapulco
Looking for the weather in city number 159, jalu
Looking for the weather in city number 160, aklavik
Looking for the weather in city number 161, shu
Looking for the weather in city number 162, kieta
Looking for the weather in city number 163, tsihombe
Missing city. Moving on...
Looking for the weather in city number 164, butaritari
Looking for the weather in city number 165, wajir
Looking for the weather in city number 166, kaitangata
Looking for the weather in city number 167, charters towers
Looking for the weather in city number 168, clyde river
Looking for the weather in city number 169, port-gentil
Looking for the weather in city number 170, oranjemund
Looking for the weather in city number 171, payson
Looking for the weather in city number 172, guerrero negro
Looking for the weather in city number 173, marawi
Looking for the weather in city number 174, hermanus
Looking for the weather in city number 175, tiksi
Looking for the weather in city number 176, santa fe do sul
Looking for the weather in city number 177, medicine hat
Looking for the weather in city number 178, bamnet narong
Looking for the weather in city number 179, penzance
Looking for the weather in city number 180, vila velha
Looking for the weather in city number 181, abha
Looking for the weather in city number 182, gorin
Looking for the weather in city number 183, tornio
Looking for the weather in city number 184, somerset east
Looking for the weather in city number 185, pevek
Looking for the weather in city number 186, hasaki
Looking for the weather in city number 187, yulara
Looking for the weather in city number 188, formoso do araguaia
Missing city. Moving on...
Looking for the weather in city number 189, saint george
Looking for the weather in city number 190, palabuhanratu
Missing city. Moving on...
Looking for the weather in city number 191, lufilufi
Looking for the weather in city number 192, sokolo
Looking for the weather in city number 193, barstow
Looking for the weather in city number 194, vaitupu
Missing city. Moving on...
Looking for the weather in city number 195, treinta y tres
Looking for the weather in city number 196, utete
Looking for the weather in city number 197, ribeira grande
Looking for the weather in city number 198, agadez
Looking for the weather in city number 199, khatanga
Looking for the weather in city number 200, hualmay
Looking for the weather in city number 201, kalangala
Looking for the weather in city number 202, bowen
Looking for the weather in city number 203, ahipara
Looking for the weather in city number 204, manavalakurichi
Looking for the weather in city number 205, louisbourg
Missing city. Moving on...
Looking for the weather in city number 206, nanakuli
Looking for the weather in city number 207, grand centre
Missing city. Moving on...
Looking for the weather in city number 208, longyan
Looking for the weather in city number 209, daxian
Missing city. Moving on...
Looking for the weather in city number 210, zheleznodorozhnyy
Looking for the weather in city number 211, atasu
Looking for the weather in city number 212, kapoeta
Looking for the weather in city number 213, papar
Looking for the weather in city number 214, lasa
Looking for the weather in city number 215, waingapu
Looking for the weather in city number 216, shingu
Looking for the weather in city number 217, georgetown
Looking for the weather in city number 218, pechenga
Looking for the weather in city number 219, namibe
Looking for the weather in city number 220, sanlucar de barrameda
Looking for the weather in city number 221, namatanai
Looking for the weather in city number 222, hobyo
Looking for the weather in city number 223, roald
Looking for the weather in city number 224, savannah bight
Looking for the weather in city number 225, tura
Looking for the weather in city number 226, rio cuarto
Looking for the weather in city number 227, kismayo
Looking for the weather in city number 228, alekseyevka
Looking for the weather in city number 229, longyearbyen
Looking for the weather in city number 230, souillac
Looking for the weather in city number 231, khor
Looking for the weather in city number 232, eskasem
Missing city. Moving on...
Looking for the weather in city number 233, solovetskiy
Missing city. Moving on...
Looking for the weather in city number 234, garm
Missing city. Moving on...
Looking for the weather in city number 235, guardiagrele
Looking for the weather in city number 236, fortuna
Looking for the weather in city number 237, attawapiskat
Missing city. Moving on...
Looking for the weather in city number 238, mukhen
Looking for the weather in city number 239, narasannapeta
Looking for the weather in city number 240, leningradskiy
Looking for the weather in city number 241, dawei
Looking for the weather in city number 242, port elizabeth
Looking for the weather in city number 243, urucara
Looking for the weather in city number 244, sakaiminato
Looking for the weather in city number 245, darbhanga
Looking for the weather in city number 246, touros
Looking for the weather in city number 247, mnogovershinnyy
Looking for the weather in city number 248, marienburg
Looking for the weather in city number 249, tawau
Looking for the weather in city number 250, port hedland
Looking for the weather in city number 251, donghai
Looking for the weather in city number 252, newcastle
Looking for the weather in city number 253, katsuura
Looking for the weather in city number 254, diamantino
Looking for the weather in city number 255, alexandria
Looking for the weather in city number 256, puri
Looking for the weather in city number 257, ostrovnoy
Looking for the weather in city number 258, waverly
Looking for the weather in city number 259, ngorongoro
Looking for the weather in city number 260, banagher
Looking for the weather in city number 261, bad freienwalde
Looking for the weather in city number 262, azimur
Missing city. Moving on...
Looking for the weather in city number 263, canatlan
Looking for the weather in city number 264, fez
Looking for the weather in city number 265, play cu
Missing city. Moving on...
Looking for the weather in city number 266, huarmey
Looking for the weather in city number 267, saint albans
Looking for the weather in city number 268, kayerkan
Looking for the weather in city number 269, vredefort
Looking for the weather in city number 270, golspie
Looking for the weather in city number 271, geraldton
Looking for the weather in city number 272, pisco
Looking for the weather in city number 273, hwange
Looking for the weather in city number 274, santa isabel do rio negro
Looking for the weather in city number 275, rosetown
Looking for the weather in city number 276, klaksvik
Looking for the weather in city number 277, kalmar
Looking for the weather in city number 278, plainview
Looking for the weather in city number 279, simao
Looking for the weather in city number 280, komsomolskiy

,lat,long,city,country,max temp,humidity,cloudiness,wind speed,date
0,22.069837,139.812016,naze,jp,84.2,83,75,6.93,1599090113
1,-44.007901,31.664782,port alfred,za,64.33,69,42,9.01,1599090113
2,31.324890,15.907863,surt,ly,77.99,82,0,15.7,1599090113
3,88.971471,153.363336,chokurdakh,ru,42.6,66,78,10.42,1599090114
4,-74.338884,23.201030,bredasdorp,za,60.8,72,63,12.75,1599090114