In [1]:
from citipy import citipy
import pandas as pd
import numpy as np
import json
import requests
import matplotlib.pyplot as plt
from config import weather_api
from pprint import pprint

# Creating the cities DataFrame

In [2]:
#Create a list of random latitudes and longitudes
cities_df = pd.DataFrame({"lat":np.random.uniform(-90,90,500), "long":np.random.uniform(-180,180,500)})

print(len(cities_df))

cities_df.head()

500

         lat        long
0  48.354516  132.377279
1 -87.668421  133.629866
2  58.790490  170.444256
3  36.326503   67.393280
4 -34.175230  178.162245

In [3]:
city_name = []
country_list =[]

for coords in range(0, len(cities_df["lat"])):
    lat=cities_df.iloc[coords]["lat"]
    long=cities_df.iloc[coords]["long"]
    city = citipy.nearest_city(lat,long)
    name= city.city_name
    city_name.append(name)
    country= city.country_code
    country_list.append(country)

cities_df["city"]=city_name
cities_df["country"]=country_list

cities_df.head()

         lat        long       city country
0  48.354516  132.377279   babstovo      ru
1 -87.668421  133.629866     hobart      au
2  58.790490  170.444256  tilichiki      ru
3  36.326503   67.393280      kholm      af
4 -34.175230  178.162245  whitianga      nz

In [4]:
cities_df["city"].duplicated().value_counts()

False    296
True     204
Name: city, dtype: int64

### Since there are duplicated cities in our DF, we  have to drop those specific rows.

In [5]:
cleancities_df = cities_df.drop_duplicates(subset="city", keep="first").reset_index(drop=True)

In [6]:
len(cleancities_df)

296

### Now that we have a clean data set, we can keep going with the exercise.

In [7]:
cleancities_df["max temp"] = ""
cleancities_df["humidity"] = ""
cleancities_df["cloudiness"] = ""
cleancities_df["wind speed"] = ""
cleancities_df["date"] = ""

cleancities_df.head()

,lat,long,city,country,max temp,humidity,cloudiness,wind speed,date
0,48.354516,132.377279,babstovo,ru,,,,,
1,-87.668421,133.629866,hobart,au,,,,,
2,58.790490,170.444256,tilichiki,ru,,,,,
3,36.326503,67.393280,kholm,af,,,,,
4,-34.175230,178.162245,whitianga,nz,,,,,

In [8]:
url = "http://api.openweathermap.org/data/2.5/weather?"
units = "imperial"
api_key = weather_api
query_url = f"{url}appid={api_key}&units={units}&q="

for index, row in cleancities_df.iterrows():
    city = row["city"]
    response = requests.get(query_url + city).json()
    
    print(f"Looking for the weather in city number {index}, {city}")
          
    try:
          cleancities_df.at[index, "max temp"] = response["main"]["temp_max"]
          cleancities_df.at[index, "humidity"] = response["main"]["humidity"]
          cleancities_df.at[index, "cloudiness"] = response["clouds"]["all"]
          cleancities_df.at[index, "wind speed"] = response["wind"]["speed"]
          cleancities_df.at[index, "date"] = response["dt"]
    except:
          print("Missing city. Moving on...")
          

cleancities_df.head()

Looking for the weather in city number 0, babstovo
Looking for the weather in city number 1, hobart
Looking for the weather in city number 2, tilichiki
Looking for the weather in city number 3, kholm
Looking for the weather in city number 4, whitianga
Looking for the weather in city number 5, deputatskiy
Looking for the weather in city number 6, new norfolk
Looking for the weather in city number 7, klaksvik
Looking for the weather in city number 8, kodiak
Looking for the weather in city number 9, tautira
Looking for the weather in city number 10, brae
Looking for the weather in city number 11, saleaula
Missing city. Moving on...
Looking for the weather in city number 12, caravelas
Looking for the weather in city number 13, rikitea
Looking for the weather in city number 14, harper
Looking for the weather in city number 15, busselton
Looking for the weather in city number 16, jamestown
Looking for the weather in city number 17, kapaa
Looking for the weather in city number 18, teguldet
Looking for the weather in city number 19, tuktoyaktuk
Looking for the weather in city number 20, jibuti
Looking for the weather in city number 21, krasnoselkup
Looking for the weather in city number 22, uwayl
Missing city. Moving on...
Looking for the weather in city number 23, hermanus
Looking for the weather in city number 24, atuona
Looking for the weather in city number 25, el prat de llobregat
Looking for the weather in city number 26, chuy
Looking for the weather in city number 27, turukhansk
Looking for the weather in city number 28, narsaq
Looking for the weather in city number 29, takapau
Looking for the weather in city number 30, cape town
Looking for the weather in city number 31, adre
Looking for the weather in city number 32, vaini
Looking for the weather in city number 33, sycamore
Looking for the weather in city number 34, lamar
Looking for the weather in city number 35, atambua
Looking for the weather in city number 36, illoqqortoormiut
Missing city. Moving on...
Looking for the weather in city number 37, north bend
Looking for the weather in city number 38, aklavik
Looking for the weather in city number 39, ensley
Looking for the weather in city number 40, umzimvubu
Missing city. Moving on...
Looking for the weather in city number 41, chokurdakh
Looking for the weather in city number 42, samusu
Missing city. Moving on...
Looking for the weather in city number 43, vostok
Looking for the weather in city number 44, satitoa
Missing city. Moving on...
Looking for the weather in city number 45, margate
Looking for the weather in city number 46, balabac
Looking for the weather in city number 47, puerto rondon
Looking for the weather in city number 48, esperance
Looking for the weather in city number 49, henties bay
Looking for the weather in city number 50, aljezur
Looking for the weather in city number 51, iquique
Looking for the weather in city number 52, tabiauea
Missing city. Moving on...
Looking for the weather in city number 53, mataura
Looking for the weather in city number 54, pevek
Looking for the weather in city number 55, salalah
Looking for the weather in city number 56, cherskiy
Looking for the weather in city number 57, khatanga
Looking for the weather in city number 58, naryan-mar
Looking for the weather in city number 59, nanortalik
Looking for the weather in city number 60, sur
Looking for the weather in city number 61, san matias
Looking for the weather in city number 62, constitucion
Looking for the weather in city number 63, makungu
Looking for the weather in city number 64, longyearbyen
Looking for the weather in city number 65, provideniya
Looking for the weather in city number 66, bluff
Looking for the weather in city number 67, saskylakh
Looking for the weather in city number 68, kalmunai
Looking for the weather in city number 69, ushuaia
Looking for the weather in city number 70, mayumba
Looking for the weather in city number 71, tirat karmel
Looking for the weather in city number 72, savannah bight
Looking for the weather in city number 73, attawapiskat
Missing city. Moving on...
Looking for the weather in city number 74, alexandria
Looking for the weather in city number 75, hofn
Looking for the weather in city number 76, ugoofaaru
Looking for the weather in city number 77, tygda
Looking for the weather in city number 78, lokosovo
Looking for the weather in city number 79, naze
Looking for the weather in city number 80, punta arenas
Looking for the weather in city number 81, linares
Looking for the weather in city number 82, anadyr
Looking for the weather in city number 83, huarmey
Looking for the weather in city number 84, atikokan
Looking for the weather in city number 85, avarua
Looking for the weather in city number 86, college
Looking for the weather in city number 87, iqaluit
Looking for the weather in city number 88, arraial do cabo
Looking for the weather in city number 89, labuan
Looking for the weather in city number 90, barrow
Looking for the weather in city number 91, katherine
Looking for the weather in city number 92, tsihombe
Missing city. Moving on...
Looking for the weather in city number 93, cabo san lucas
Looking for the weather in city number 94, mayo
Looking for the weather in city number 95, sambava
Looking for the weather in city number 96, bure
Looking for the weather in city number 97, abha
Looking for the weather in city number 98, albany
Looking for the weather in city number 99, namatanai
Looking for the weather in city number 100, thompson
Looking for the weather in city number 101, churapcha
Looking for the weather in city number 102, dongfeng
Looking for the weather in city number 103, cozumel
Looking for the weather in city number 104, barentsburg
Missing city. Moving on...
Looking for the weather in city number 105, gizo
Looking for the weather in city number 106, konstantinovka
Looking for the weather in city number 107, hithadhoo
Looking for the weather in city number 108, san cristobal
Looking for the weather in city number 109, port blair
Looking for the weather in city number 110, vestmannaeyjar
Looking for the weather in city number 111, muros
Looking for the weather in city number 112, ilebo
Looking for the weather in city number 113, yellowknife
Looking for the weather in city number 114, nelson bay
Looking for the weather in city number 115, pascagoula
Looking for the weather in city number 116, pangnirtung
Looking for the weather in city number 117, taksimo
Looking for the weather in city number 118, plettenberg bay
Looking for the weather in city number 119, carnarvon
Looking for the weather in city number 120, bela
Looking for the weather in city number 121, sioux lookout
Looking for the weather in city number 122, nantucket
Looking for the weather in city number 123, ambilobe
Looking for the weather in city number 124, louisbourg
Missing city. Moving on...
Looking for the weather in city number 125, tateyama
Looking for the weather in city number 126, belushya guba
Missing city. Moving on...
Looking for the weather in city number 127, phalombe
Looking for the weather in city number 128, grand river south east
Missing city. Moving on...
Looking for the weather in city number 129, blagoyevo
Looking for the weather in city number 130, pacific grove
Looking for the weather in city number 131, ballina
Looking for the weather in city number 132, tubuala
Looking for the weather in city number 133, berlevag
Looking for the weather in city number 134, bambous virieux
Looking for the weather in city number 135, willowmore
Looking for the weather in city number 136, dikson
Looking for the weather in city number 137, georgetown
Looking for the weather in city number 138, cordoba
Looking for the weather in city number 139, hilo
Looking for the weather in city number 140, vardo
Looking for the weather in city number 141, alto araguaia
Looking for the weather in city number 142, upernavik
Looking for the weather in city number 143, anqiu
Looking for the weather in city number 144, cartagena del chaira
Looking for the weather in city number 145, kuche
Missing city. Moving on...
Looking for the weather in city number 146, twin falls
Looking for the weather in city number 147, nikolskoye
Looking for the weather in city number 148, acarau
Looking for the weather in city number 149, leningradskiy

Looking for the weather in city number 150, faanui
Looking for the weather in city number 151, port hedland
Looking for the weather in city number 152, peruibe
Looking for the weather in city number 153, sibu
Looking for the weather in city number 154, butaritari
Looking for the weather in city number 155, banda aceh
Looking for the weather in city number 156, agboville
Looking for the weather in city number 157, hambantota
Looking for the weather in city number 158, biak
Looking for the weather in city number 159, minab
Looking for the weather in city number 160, talaya
Looking for the weather in city number 161, sentyabrskiy
Missing city. Moving on...
Looking for the weather in city number 162, saint-philippe
Looking for the weather in city number 163, jasper
Looking for the weather in city number 164, flin flon
Looking for the weather in city number 165, torbay
Looking for the weather in city number 166, nurota
Looking for the weather in city number 167, bulaevo
Looking for the weather in city number 168, manono
Looking for the weather in city number 169, zuenoula
Looking for the weather in city number 170, isla vista
Looking for the weather in city number 171, la union
Looking for the weather in city number 172, san patricio
Looking for the weather in city number 173, vao
Looking for the weather in city number 174, victoria
Looking for the weather in city number 175, castro
Looking for the weather in city number 176, lagoa
Looking for the weather in city number 177, ngunguru
Looking for the weather in city number 178, port elizabeth
Looking for the weather in city number 179, souillac
Looking for the weather in city number 180, sinfra
Looking for the weather in city number 181, tiksi
Looking for the weather in city number 182, geraldton
Looking for the weather in city number 183, port dover
Looking for the weather in city number 184, hasaki
Looking for the weather in city number 185, muscatine
Looking for the weather in city number 186, mahibadhoo
Looking for the weather in city number 187, tabas
Looking for the weather in city number 188, sahrak
Missing city. Moving on...
Looking for the weather in city number 189, kruisfontein
Looking for the weather in city number 190, bubaque
Looking for the weather in city number 191, port alfred
Looking for the weather in city number 192, bilibino
Looking for the weather in city number 193, palauig
Looking for the weather in city number 194, rungata
Missing city. Moving on...
Looking for the weather in city number 195, balykshi
Missing city. Moving on...
Looking for the weather in city number 196, la orilla
Looking for the weather in city number 197, notre-dame-de-gravenchon
Looking for the weather in city number 198, severo-kurilsk
Looking for the weather in city number 199, bilma
Looking for the weather in city number 200, benbrook
Looking for the weather in city number 201, beloha
Looking for the weather in city number 202, bathsheba
Looking for the weather in city number 203, mar del plata
Looking for the weather in city number 204, kununurra
Looking for the weather in city number 205, hirado
Looking for the weather in city number 206, luderitz
Looking for the weather in city number 207, lompoc
Looking for the weather in city number 208, kim
Looking for the weather in city number 209, porto santo
Looking for the weather in city number 210, hokitika
Looking for the weather in city number 211, belcesti
Looking for the weather in city number 212, tasiilaq
Looking for the weather in city number 213, ponta do sol
Looking for the weather in city number 214, albesti
Looking for the weather in city number 215, belaya gora
Looking for the weather in city number 216, lebu
Looking for the weather in city number 217, isangel
Looking for the weather in city number 218, faya
Looking for the weather in city number 219, svetlaya
Looking for the weather in city number 220, mullovka
Looking for the weather in city number 221, formoso do araguaia
Missing city. Moving on...
Looking for the weather in city number 222, sorland
Looking for the weather in city number 223, fort dodge
Looking for the weather in city number 224, hamilton
Looking for the weather in city number 225, guerrero negro
Looking for the weather in city number 226, antigonish
Looking for the weather in city number 227, kitui
Looking for the weather in city number 228, lakki marwat
Looking for the weather in city number 229, dzaoudzi
Looking for the weather in city number 230, komsomolskiy
Looking for the weather in city number 231, clyde river
Looking for the weather in city number 232, beidao
Looking for the weather in city number 233, ternate
Looking for the weather in city number 234, juneau
Looking for the weather in city number 235, lata
Looking for the weather in city number 236, udachnyy
Looking for the weather in city number 237, piacabucu
Looking for the weather in city number 238, santa eulalia del rio
Missing city. Moving on...
Looking for the weather in city number 239, homer
Looking for the weather in city number 240, palmer
Looking for the weather in city number 241, talnakh
Looking for the weather in city number 242, broome
Looking for the weather in city number 243, qaanaaq
Looking for the weather in city number 244, ler
Looking for the weather in city number 245, nynashamn
Looking for the weather in city number 246, norman wells
Looking for the weather in city number 247, norden
Looking for the weather in city number 248, waipawa
Looking for the weather in city number 249, shetpe
Looking for the weather in city number 250, puerto ayora
Looking for the weather in city number 251, srednekolymsk
Looking for the weather in city number 252, navahrudak
Looking for the weather in city number 253, sao joao da barra
Looking for the weather in city number 254, samalaeulu
Missing city. Moving on...
Looking for the weather in city number 255, cravinhos
Looking for the weather in city number 256, grand gaube
Looking for the weather in city number 257, antofagasta
Looking for the weather in city number 258, toliary
Missing city. Moving on...
Looking for the weather in city number 259, kuala terengganu
Looking for the weather in city number 260, ondorhaan
Missing city. Moving on...
Looking for the weather in city number 261, tugolesskiy bor
Looking for the weather in city number 262, blairmore
Looking for the weather in city number 263, fortuna
Looking for the weather in city number 264, tuatapere
Looking for the weather in city number 265, marcona
Missing city. Moving on...
Looking for the weather in city number 266, katsiveli
Missing city. Moving on...
Looking for the weather in city number 267, pimentel
Looking for the weather in city number 268, jumla
Looking for the weather in city number 269, nyurba
Looking for the weather in city number 270, jinchang
Looking for the weather in city number 271, dingle
Looking for the weather in city number 272, shintomi
Looking for the weather in city number 273, nabire
Looking for the weather in city number 274, qaqortoq
Looking for the weather in city number 275, anju
Looking for the weather in city number 276, gurupi
Looking for the weather in city number 277, port lincoln
Looking for the weather in city number 278, portland
Looking for the weather in city number 279, tbilisskaya
Looking for the weather in city number 280, mackay
Looking for the weather in city number 281, bethel
Looking for the weather in city number 282, baker city
Looking for the weather in city number 283, urucara
Looking for the weather in city number 284, kahului
Looking for the weather in city number 285, cap malheureux
Looking for the weather in city number 286, asau
Looking for the weather in city number 287, felidhoo
Missing city. Moving on...
Looking for the weather in city number 288, kaseda
Looking for the weather in city number 289, bafq
Looking for the weather in city number 290, san carlos de bariloche
Looking for the weather in city number 291, scarborough
Looking for the weather in city number 292, saint george
Looking for the weather in city number 293, kupino
Looking for the weather in city number 294, eyl
Looking for the weather in city number 295, sinjai

,lat,long,city,country,max temp,humidity,cloudiness,wind speed,date
0,48.354516,132.377279,babstovo,ru,70.47,72,0,11.61,1599272013
1,-87.668421,133.629866,hobart,au,59,33,20,14.99,1599271264
2,58.790490,170.444256,tilichiki,ru,49.57,53,0,13.11,1599272013
3,36.326503,67.393280,kholm,af,51.55,98,77,5.17,1599272013
4,-34.175230,178.162245,whitianga,nz,62.01,66,59,7,1599272014

In [13]:
print(len(cleancities_df["city"]))

296

In [28]:
cleancities_df.isnull().sum()

lat            0
long           0
city           0
country        0
max temp      26
humidity      26
cloudiness    26
wind speed    26
date           0
dtype: int64

In [31]:
cleancities_df.dropna(inplace=True)

cleancities_df.isnull().sum()

lat           0
long          0
city          0
country       0
max temp      0
humidity      0
cloudiness    0
wind speed    0
date          0
dtype: int64

In [32]:
print(len(cleancities_df["city"]))

270

In [9]:
cleancities_df.dtypes

lat           float64
long          float64
city           object
country        object
max temp       object
humidity       object
cloudiness     object
wind speed     object
date           object
dtype: object

In [12]:
cleancities_df["max temp"] = pd.to_numeric(cleancities_df["max temp"])
cleancities_df["humidity"] = pd.to_numeric(cleancities_df["humidity"])
cleancities_df["cloudiness"] = pd.to_numeric(cleancities_df["cloudiness"])
cleancities_df["wind speed"] = pd.to_numeric(cleancities_df["wind speed"])

cleancities_df.dtypes

lat           float64
long          float64
city           object
country        object
max temp      float64
humidity      float64
cloudiness    float64
wind speed    float64
date           object
dtype: object